* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #8aa7ad, #93B7BE);
    color: #1f2937;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ÁREA CENTRAL */

.area_login {
    min-height: 93.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD */

.card_login {
    background: white;
    padding: 40px;
    border-radius: 22px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
    width: 480px;
    max-width: 90%;
    text-align: center;
}

/* LOGO */

.logo_login {
    width: 340px;
    max-width: 100%;
    display: block;
    margin: 0 auto 20px;
}

/* TÍTULO */

.card_login h2 {
    margin-bottom: 20px;
    margin-top: 0;
    color: #1f2937;
    font-size: 32px;
}

/* ABAS */

.tabs {
    display: flex;
    background: #ecf0f1;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 25px;
}

.tabs label {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
}

/* ESCONDER RADIOS */

input[type="radio"] {
    display: none;
}

/* DESTAQUE ABA ATIVA */

#coord:checked~.tabs label[for="coord"],
#prof:checked~.tabs label[for="prof"],
#aluno:checked~.tabs label[for="aluno"] {
    background: #2c3e50;
    color: white;
}

/* FORMULÁRIOS */

.formularios {
    position: relative;
    height: 160px;
}

.form {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(10px);
    transition: .3s;
    pointer-events: none;
}

/* MOSTRAR FORMULÁRIO ATIVO */

#coord:checked~.formularios .coord,
#prof:checked~.formularios .prof,
#aluno:checked~.formularios .aluno {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* INPUTS */

.inputt {
    width: 100%;
    padding: 11px;
    margin: 10px 0;
    border-radius: 20px;
    border: none;
    text-align: center;
    background: #f8f9fa;
}

/* BOTÃO */

.botao {
    display: inline-block;
    width: 100%;
    padding: 11px;
    border-radius: 25px;
    background: #2c3e50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    border: none;
}

.botao:hover {
    background: #34495e;
}

/* MENSAGEM DE ERRO */

.msg_erro {
    color: #e74c3c;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

/* RODAPÉ */

footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}